.opacity-enter-active, .opacity-leave-active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.opacity-enter-from, .opacity-leave-to {
    opacity: 1;
}

.translateX-enter-active, .translateX-leave-active {
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
}

.translateX-enter-from, .translateX-leave-to {
    transform: translateX(-100%);
}

.scaleIn-enter-active, .scaleIn-leave-active {
    opacity: 1;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
}

.scaleIn-enter-from, .scaleIn-leave-to {
    opacity: 0;
    transform: scale(1.2);
}


.border-bottom-1px{
    position: relative;
}
.border-bottom-1px:after{
    left: 0;
    width: 100%;
    height: 1px;
    bottom: 0;
    display: block;
    content: "";
    position: absolute;
    transform: scaleY(0.5);
    background-color: #d0d0d0;
}

.border-1px{
    position: relative;
}
.border-1px:after{
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    border: 1px solid #d0d0d0;
    display: block;
    content: "";
    position: absolute;
    transform: translate(-50%, -50%) scale(0.5);
}

.icon {
    width: 20px;
    height: 20px;
}
button:active {
    transform: scale(0.9);
    background-color: #f3f5f7;
}

.touch-event{
    font-size: 0;
    position: relative;
    transition: transform 0.1s linear;
}
.touch-event:after{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    position: absolute;
    transform: scale(0);
    transition: transform 0.05s 0.08s linear;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    transform-origin: center center;
}
.touch-event:active{
    transform: scale(0.8);
}
.touch-event:active:after{
    transform: scale(1)
}